# 0. Preprocessing

In [2]:
import pandas as pd
import numpy as np
import nltk
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 15)

### 0.1 Prices and returns data

In [3]:
poloniex_data = pd.read_csv('Data/poloniex_data.csv', index_col = 'date')

In [4]:
poloniex_data

            return_day+1        close        volume
date
2017-05-01      0.020854  1530.000000  2.003840e+07
2017-05-02      0.034389  1561.907000  1.157105e+07
2017-05-03     -0.007255  1615.620000  1.506086e+07
2017-05-04     -0.037720  1603.898572  2.632924e+07
2017-05-05      0.035510  1543.400000  3.239718e+07
2017-05-06      0.013731  1598.205817  2.139785e+07
2017-05-07      0.052788  1620.150000  3.042350e+07
...                  ...          ...           ...
2018-04-25      0.048078  8860.024074  3.846143e+07
2018-04-26     -0.039413  9286.000000  2.113739e+07
2018-04-27      0.046048  8920.010000  1.831713e+07
2018-04-28      0.009971  9330.761257  1.287775e+07
2018-04-29     -0.021754  9423.799996  1.334253e+07
2018-04-30     -0.016035  9218.792931  8.793027e+06
2018-05-01      0.019185  9070.973313  1.379405e+07

[366 rows x 3 columns]

### 0.2 Google trends data: buy over buy + sell ratio (buy percentage)

In [5]:
google_trends_data = pd.read_csv('Data/google_trends.csv', index_col = 'date')

In [6]:
google_trends_data.drop("Unnamed: 0", axis =1)

            googletrends_buy_sell
date
2017-05-01               0.857143
2017-05-02               0.857143
2017-05-03               0.904762
2017-05-04               0.851852
2017-05-05               0.833333
2017-05-06               0.880000
2017-05-07               0.900000
...                           ...
2018-04-25               0.862069
2018-04-26               0.906667
2018-04-27               0.847222
2018-04-28               0.837838
2018-04-29               0.822785
2018-04-30               0.820513
2018-05-01               0.903226

[366 rows x 1 columns]

### 0.3 Twitter data: Tweets from top 100 bitcoing influencers

In [14]:
twitter_data = pd.read_csv('Data/twitter_ddbb.csv')

In [15]:
twitter_data = twitter_data.drop(['Unnamed: 0', 'Name', 'id'], axis = 1)

In [16]:
twitter_data.columns = ['date', 'tweet']

In [23]:
twitter_data.date = pd.to_datetime(twitter_data.date)

In [25]:
twitter_data

             date                                              tweet
0      2018-09-18  b'Lighthouse: an open-source Ethereum 2.0 clie...
1      2018-09-18  b'@adamdavidlong @gmcmullen @rogerkver I think...
2      2018-09-18  b'@JoelKatz @rogerkver Not sure if tortious in...
3      2018-09-18  b'@gakonst Please help me check their correctn...
4      2018-09-17  b'@rogerkver Disagree here in practice. Sure, ...
5      2018-09-13  b'Emergent Ventures from @mercatus and @tylerc...
6      2018-09-12  b'RT @avsa: Gemini dollars by themselves are b...
...           ...                                                ...
232351 2016-05-26  b'@alexadelman @eriktorenberg @sama @justinkan...
232352 2016-05-26                     b'@SanFranciscoVC absolutely!'
232353 2016-05-26  b'@cdouvos nice post. However I would argue th...
232354 2016-05-26  b'@cdouvos works on my Mac, not on my phone. W...
232355 2016-05-25    b'@nikillinit @cdouvos https://t.co/QyFgiiL5ht'
232356 2016-05-25                           b'@cdouvos broken link!'
232357 2016-05-24  b'RT @brian_armstrong: Bitcoin Exchange Coinba...

[232358 rows x 2 columns]

In [33]:
twitter_data = twitter_data.set_index('date')

In [41]:
twitter_data = twitter_data["01-may-2017":"1-may-2018"]

In [42]:
twitter_data

                                                        tweet
date
2018-05-01  b"@BitQuinn You're a 15 year old :)\n\nDatabas...
2018-05-01  b'@tensorjack @robinhanson We also need food t...
2018-05-01  b'@glenweyl @ecoinomia But the party with the ...
2018-05-01  b'@ecoinomia See https://t.co/mAyJtE9dmu for i...
2018-05-01  b'@ecoinomia Violence can be viewed as a weird...
2018-05-01                                     b'@JaEsf Yes.'
2018-05-01  b"@ansalhar @Valustks1 @_Kevin_Pham @SoakerPat...
...                                                       ...
2017-05-04                 b'@nw3 @DanielleMorrill Delivery.'
2017-05-04               b'@EliNoto @nntaleb Yeah good point'
2017-05-04                                        b'@zsims ?'
2017-05-04  b"@willwolf_ @harari_yuval Haha I'm in the mid...
2017-05-04                       b'Best books on the future?'
2017-05-03  b'*thats the sound of HR managers fainting eve...
2017-05-03  b'Who are the best senior technical recruiters...

[90754 rows x 1 columns]

### 0.4 Bitcointalk forum dataset

In [58]:
forum_data = pd.read_csv('Data/NLP_Cryptocurrency_Dataset.csv', header = 1)

In [59]:
forum_data = forum_data.drop('Unnamed: 0', axis = 1)

In [61]:
forum_data.datetime = pd.to_datetime(forum_data.datetime)

In [63]:
forum_data_prep = forum_data.set_index('datetime').copy()

In [64]:
forum_data_prep["may-2017":"may-2018"]

,id,status,activity,merit,post
datetime,,,,,
2018-05-23 05:53:49,Kakmakr,Legendary,1414.0,1121.0,We have breached the $7000 Bitcoin price and t...
2018-05-23 06:04:56,ViceOfBTC21,Sr. Member,381.0,250.0,Weak hands = Bitcoin prices up.\r\nStrong hand...
2018-05-23 06:09:22,sham100899,Member,154.0,14.0,"Weak hands will win, bitcoin price will gettin..."
2018-05-23 06:09:39,Herbert2020,Legendary,1330.0,1068.0,it is just manipulation and this will also pas...
2018-05-23 06:30:11,Kakmakr,Legendary,1414.0,1121.0,"Quote from: Herbert2020 on May 23, 2018, 06:09..."
2018-05-23 07:42:38,Pursuer,Legendary,1260.0,1074.0,"Quote from: Kakmakr on May 23, 2018, 05:53:49 ..."
2018-05-23 16:28:11,Dudeperfect,Hero Member,952.0,529.0,I am bullish on the overall crypto market and ...
...,...,...,...,...,...
2017-05-01 13:59:37,TravelMug,Sr. Member,602.0,253.0,"Quote from: iram3130 on May 01, 2017, 01:51:56..."
2017-05-01 09:25:50,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Beginners & Help....
2017-05-01 07:15:36,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Exchanges.\n\nhtt...
2017-05-01 00:07:25,FiendCoin,Sr. Member,364.0,261.0,"Quote from: cellard on April 30, 2017, 03:44:5..."
2017-05-01 02:49:28,CoinCidental,Legendary,1316.0,1000.0,"Quote from: FiendCoin on May 01, 2017, 12:07:2..."
2017-05-01 03:09:57,FiendCoin,Sr. Member,364.0,261.0,"Quote from: CoinCidental on May 01, 2017, 02:4..."
2017-05-01 03:15:24,BitcoinerXX,Member,94.0,10.0,"Quote from: CoinCidental on May 01, 2017, 02:4..."

In [65]:
forum_data_prep['1-may-2017':'1-may-2018']

,id,status,activity,merit,post
datetime,,,,,
2018-03-18 02:37:18,mmp95,Jr. Member,182.0,0.0,"The recent speculation is very profitable, fin..."
2018-03-18 02:40:46,hoomg,Jr. Member,186.0,0.0,"Quote from: mmp95 on March 18, 2018, 02:37:18 ..."
2018-03-18 02:41:45,kingcolex,Legendary,1596.0,1007.0,"I like dash, especially if you are well off en..."
2018-04-05 14:12:26,sunny7408,Jr. Member,45.0,0.0,RBI ban Bitcoin?
2018-04-05 14:13:30,infested,Jr. Member,132.0,0.0,Its a small market in crypto terms. Who cares?
2018-04-05 14:18:13,Thanasis,Hero Member,1328.0,505.0,"Quote from: infested on April 05, 2018, 02:13:..."
2018-04-05 14:24:38,pxo.011,Member,266.0,10.0,well india has one of the biggest population b...
...,...,...,...,...,...
2017-05-01 13:59:37,TravelMug,Sr. Member,602.0,253.0,"Quote from: iram3130 on May 01, 2017, 01:51:56..."
2017-05-01 09:25:50,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Beginners & Help....
2017-05-01 07:15:36,rickbig41,I'm not a member,1036.0,1058.0,This topic has been moved to Exchanges.\n\nhtt...
2017-05-01 00:07:25,FiendCoin,Sr. Member,364.0,261.0,"Quote from: cellard on April 30, 2017, 03:44:5..."
2017-05-01 02:49:28,CoinCidental,Legendary,1316.0,1000.0,"Quote from: FiendCoin on May 01, 2017, 12:07:2..."
2017-05-01 03:09:57,FiendCoin,Sr. Member,364.0,261.0,"Quote from: CoinCidental on May 01, 2017, 02:4..."
2017-05-01 03:15:24,BitcoinerXX,Member,94.0,10.0,"Quote from: CoinCidental on May 01, 2017, 02:4..."