# Master table creation
In this notebook we aggregate all the previously downloaded data and the sentiment analysis done on the different data sources.

In [1]:
# Load the needed packages:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
%matplotlib inline

## 1.0 Load data and create a Mastertable

In [2]:
# Load CSV files:
poloniex = pd.read_csv("Data/poloniex_data.csv")
ggtrends = pd.read_csv("Data/google_trends.csv", index_col=0)
twitter = pd.read_csv("Data/twitter_agg_ddb.csv")
reddit = pd.read_csv("Data/allreddit_nlp.csv", index_col=0)
forum = pd.read_csv("Data/merit_compound.csv", index_col=0)

In [3]:
# A bit of preprocessing:
# REDDIT:
reddit = reddit.rename(columns={'date_notime': 'date', 'count_comments': 'Reddit Comments (#)', 'mean_sa': 'Reddit Average SA'})
# TWITTER:
twitter = twitter.rename(columns={'created_at': 'date','Average SA': 'Twitter Average SA'})
twitter['date'] =  pd.to_datetime(twitter['date'], format='%Y%m%d %H:%M:%S')
twitter['date'] = twitter['date'].dt.date
twitter['date'] = twitter['date'].apply(str)

# FORUM:
forum = forum.rename(columns={'newdate': 'date', 'compound': 'Forum SA Merit', 'merit_compound': 'Forum SA Merit (weighted)'})

In [4]:
# Merge the datasets into one Master Table:
master = pd.merge(poloniex, ggtrends, how = 'inner', on = 'date')
master = pd.merge(master, twitter, how = 'outer', on = 'date')
master = pd.merge(master, forum, how = 'inner', on = 'date')
master = pd.merge(master, reddit, how = 'inner', on = 'date')

In [5]:
# Create the UP/DOWN class:
master['invest'] = master['return_day+1']>0

In [6]:
pd.DataFrame.to_csv(master, 'Data/20180920_mastertable.csv')

In [9]:
twitter.head(5)

         date  Tweets (#)  Active Influencers (#)  Twitter Average SA
0  2017-05-02         105                      25            0.156365
1  2017-05-03          86                      30            0.207976
2  2017-05-04         111                      27            0.152614
3  2017-05-05          75                      28            0.117646
4  2017-05-06          54                      18            0.088421